@using HairSalon.Models;
@{
  Layout = "_Layout";
}

<div class="container">
  <div class="w3 bar w3-gray"><b>Specialties</b></div>
    <h2>Specialty: @Model["selectedSpecialty"].GetSpecialtyName()</h2>
    <hr>
    <br>

    <!-- loop -->
    @if (@Model["specialtyEmployee"].Count == 0)
    {
      <h3>This Employee can do these styles:</h3>
      <ul>
        @foreach (Employee employee in @Model["specialtyEmployee"])
        {
          <li>@employee.GetName()</li>
        }
      </ul>
    }
    <br>

    <h4>Add Employee for this style:</h4>
    <form action='/specialties/@Model["selectedSpecialty"].GetSpecialtyId()/employees/new' method='post'>
      <label for='employee-id'>Select Employee</label>
      <select id='employee-id' name='employee-id' type='text'>
        @foreach (var employee in @Model["allEmployee"])
        {
          <option value='@employee.GetId()'>@employee.GetName()</option>
        }
      </select>
      <button class="btn">Submit</button>
    </form>
    <div class="btn btn-info"><a href="/specialties">Go back</a></div>
</div>
